<h1>Create an account</h1>

<form>
  <input type="text" name="First_Name" placeholder="First Name">
  <br>
  <input type="text" name="Last_name" placeholder="Last name">
  <br>
  <input type="text" name="username" placeholder="Username">
  <br>
  <input type="text" name="email" placeholder="Email">
  <br>
  <!-- <input type="text" placeholder="repeat email"> -->
 <!--  <br> -->
  <input type="text" name="password" placeholder="Password">
  <br>
  <!-- <input type="text" placeholder="repeat password"> -->
  <!-- <br> -->
  <input type="submit" value="Account">
</form>