<h1>Create an account</h1>


<div class="forms">
  <form method="POST" action="/user/create" >
    <input type="text" name="first_name" placeholder="First Name">
    <br>
    <input type="text" name="last_name" placeholder="Last name">
    <br>
    <input type="text" name="email" placeholder="Email">
    <br>
    <input type="text" name="username" placeholder="Username">
    <br>
    <input type="password" name="password" placeholder="Password">
    <br>
    <input type="submit" value="Create Account">
  </form>
</div>