<h1>Sources</h1>

<div>
  <a href="http://www.ign.com/" target="blank"><img src="http://static1.squarespace.com/static/54912055e4b06dc89c23425d/55a868cae4b00cca65ed9ed3/55a9430fe4b07843396e47db/1437156796752/?format=1000w"></a> 
  <br>
  <a href="http://www.gamespot.com/" target="blank"><img src="http://static.gamespot.com/uploads/original/1280/12809530/2406814-800px-gamespot_logo.svg.png"></a> 
  <br>
  <a href="http://www.giantbomb.com/" target="blank"><img src="http://i.imgur.com/dIINAxF.png"></a> 
  <br>
  <a href="http://www.escapistmagazine.com/" target="blank"><img src="http://news.xlcgamingnetwork.com/wp-content/uploads/2015/01/TheEscapists_Logo-Copy.png"></a> 
</div>